.menu-editor {
    width: 100%;
    &__content {
        width: 100%;
        height: calc(100vh - 360px);
        &--loading,
        &--empty {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}