.category-card {
    &__cover-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }
    &__cover {
        position: relative;
        display: block;
        cursor: default;
        .ant-image,
        .ant-image img {
            display: block;
        }
    }
    &__title {
        position: absolute;
        z-index: 100;
        bottom: 15px;
        left: 10px;
        color: #fff !important;
        font-weight: normal !important;
        margin-bottom: 0 !important;
    }
}

.dishes-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dish-item {
    width: 100%;
    display: flex;
    gap: 10px;
    &__photo {
        .ant-image,
        .ant-image img {
            display: block;
        }
    }
    &__title {
        font-size: 16px;
        margin-bottom: 0;
    }
    &__meta {
        display: flex;
        span {
            margin-right: 5px;
            &:after {
                content: ", ";
            }
            &:last-of-type {
                &:after {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .dish-item {
        padding: 0 16px;
    }
}
