.category{
    position: relative;
}
.category__title{
    position: absolute;
    top: 10px;
    left: 10px;
}
.card__image{
    object-fit: cover;
     width: 100%; 
     height: 200px;
     cursor: pointer;
}
.dish{
 display: none;
}
.dish_visable {
    display: block;
}
.link{
    width: 100%;
}