.category-card {
    &__title {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff !important;
        font-weight: normal !important;
    }
}

.dish-item {
    display: flex;
    gap: 10px;
    &__meta {
        display: flex;
        flex-direction: column;
    }
}
