.dashboard-grid {
    display: grid;
    grid-template-areas:
        "a b b c"
        "d d d d";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 360px;
    gap: 20px;
}

.dashboard-col {
    &--qr-code {
        grid-area: a;
    }
    &--create-menu {
        grid-area: b;
    }
    &--empty {
        grid-area: c;
    }
    &--orders-stats {
        grid-area: d;
    }
}

@media screen and (max-width: 1600px) {
    .dashboard-grid {
        grid-template-areas:
            "a b b"
            "d d d";
        grid-template-columns: repeat(3, 1fr);
    }

    .dashboard-col {
        &--empty {
            display: none;
        }
    }
}

@media screen and (max-width: 576px) {
    .dashboard-grid {
        grid-template-areas: none;
        grid-template-columns: 100%;
        grid-template-rows: auto 300px;
    }

    .dashboard-col {
        grid-area: auto;
    }
}
