.basket-footer {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.order__totalPrice {
  margin-top: 5px;
}

.basket-info {
  margin-top: 30px;
  &__comment {
    margin-top: 30px;
  }
}
